.Task-List {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 20px;
    border: 1px solid #efefef;
    border-radius: 2px;
    padding: 10px;
    background-color: blueviolet;
}

p {
    margin: 0;
    font-family: fantasy;
    font-size: 18px;
}

.Task-List button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
}

.Status {
    font-size: 12px;
}