.App {
  text-align: center;
  align-items: center;
  background-color: grey;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.Wrapper {
  background: #000;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 0 1px 4px 0 rgba(0 0 0 0.5);
  color: #ede7fe;
  margin-top: 100px;
}

.Input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
}

.Input-wrapper input {
  border-radius: 4px;
  border: 0;
  background-color: #ede7fe;
  width: 160px;
  padding: 6px;
  height: 20px;
  margin: 10px;
}

.Input-wrapper button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0;
}

label {
  font-size: 12px;
}